body {
    display:    block;
    text-align: center;
    font-family:    "Comic Sans MS", cursive, sans-serif;
    background-image:   url("background.png");
}

table {
    width:      80%;
    margin:     auto;
}

#control-panel {
    width:      250px;
    background-color:   #eee;
    padding:    20px;
    vertical-align:     top;
}

#img-container {
    position:   relative;
    padding:    0px;
    margin:     0px;
}

#fried-image {
    width:      100%;
}

#bulge-can {
    position:   absolute;
    top:        0px;
    left:       0px;
}
